<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FiraCode-regular.ttf</string>
		<string>StyreneB-bold.ttf</string>
		<string>StyreneB-medium.ttf</string>
		<string>StyreneB-regular.ttf</string>
		<string>Tienne-bold.ttf</string>
		<string>Tienne-regular.ttf</string>
	</array>
</dict>
</plist>
